* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
    margin: 32px;
}

.btn {
    border: solid 1px #aaa;
    border-radius: 2px;
    padding: 8px;
    margin: 2px;
}

.btn:hover, .btn-micro:hover {
    cursor: pointer;
    background-color: #eee;
}

.btn-set {
    background-color: #DCEDC8;
}

.btn-active {
    background-color: #f44336;
    color: white;
}

.btn-saved {
    background-color: #0069c0;
    color: white;
}

.btn-active:hover {
    background-color: #f44336;
}

.clickables:hover {
    cursor: crosshair;
}

.btn-micro {
    border: solid 1px #aaa;
    border-radius: 2px;
    padding: 2px;
}

.btn-type-active {
    background-color: #03a9f4;
    color: white;
}


dl.inline-flex {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 350px;      /* set the container width*/
    overflow: visible;
}
dl.inline-flex dt {
    flex: 0 0 50%;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #444;
    font-weight: bold;
    margin-bottom: 2px;
}
dl.inline-flex dd {
    flex:0 0 50%;
    margin-left: auto;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ddspan {
    width: 8px;
    display: inline-block;
}

hr.alt {
    margin: 24px 0;
}